{% extends 'base.html' %}

{% block title %}Login - Evenify{% endblock %}

{% block content %}
<div class="login">
    <h1>{{ title }}</h1>

    <div class="form">
        <form method="POST">
            {{ form.hidden_tag() }}

            <p>{{ form.username.label }}</p>
            <p>{{ form.username() }}</p>

            <p>{{ form.password.label }}</p>
            <p>{{ form.password() }}</p>

            <div class="btn">
                {{ form.submit(class="btn") }}
            </div>

            <p>Don't have an account? 
                <a href="{{ url_for('auth.register') }}">Register here</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
