{% extends 'base.html' %}

{% block title %}Register - Evenify{% endblock %}

{% block content %}

    <div class="register">
        <h1>{{ title }}</h1>

        <div class="form">
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                <p>{{ form.username.label }}</p>
                <p>{{ form.username() }}</p>

                <p>{{ form.email.label }}</p>
                <p>{{ form.email() }}</p>

                <p>{{ form.password.label }}</p>
                <p>{{ form.password() }}</p>

                <p>{{ form.confirm_password.label }}</p>
                <p>{{ form.confirm_password() }}</p>

                <div class="btn">
                    <p>
                        <a href="{{ url_for('auth.login') }}">{{ form.submit() }}</a>
                    </p>
                </div>
                <p></p>
            </form>
        </div>
    </div>

{% endblock %}