{% extends 'base.html' %}

{% block title %}Register - Evenify{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
<div class="register">
    <h1>{{ title }}</h1>

    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <p>{{ form.username.label }}</p>
            <p>{{ form.username() }}</p>

            <p>{{ form.email.label }}</p>
            <p>{{ form.email() }}</p>

            <p>{{ form.password.label }}</p>
            <p>{{ form.password() }}</p>

            <p>{{ form.confirm_password.label }}</p>
            <p>{{ form.confirm_password() }}</p>

            <div class="btn">
                {{ form.submit(class="btn") }}
            </div>

            <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
        </form>
    </div>
</div>
{% endblock %}
