name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-activate-base: false

    - name: Create Conda environment and install dependencies
      run: |
        # create a dedicated environment
        conda create -n myenv python=3.10 pluggy -y
        # activate environment
        source $(conda info --base)/etc/profile.d/conda.sh
        conda activate myenv
        # upgrade pip and install project dependencies
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # install development tools
        conda install flake8 pytest -y
    - name: Lint with flake8
      run: |
        source $(conda info --base)/etc/profile.d/conda.sh
        conda activate myenv
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        source $(conda info --base)/etc/profile.d/conda.sh
        conda activate myenv
        pytest